body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #222;
    background-color: white;
    margin: 0;
}

header {
    text-align: center;
    background-color: cadetblue;
    padding: 1rem;
}

header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    padding: 2rem;
}

.game-container {
    background-color: #d7e9ea;
    padding: 2rem;
    max-width: 80%;
    width: 100%;
    height: 50vh;
    text-align: center;
}

h2 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
}

#questionText {
    margin-bottom: 1rem;
}

#guessForm {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#guessInput {
    flex: 1;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#capitalForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

button[type="submit"] {
    padding: 1rem 1rem;
    font-size: 1rem;
    background-color: cadetblue;
    color: #fff;
    border: none;
    border-radius: 6px;
}

button[type="submit"]:hover {
    background-color: lightskyblue;
}

#resultMessage {
    font-size: 1rem;
    margin-top: 1rem;
    color: #6c9da0;
}

footer {
    background-color: #4e7677;
    text-align: center;
    padding: 1rem;
}