body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #222;
    background-color: #fdf0d5;
    margin: 0;
}

header {
    text-align: center;
    background-color: #003049;
    padding: 1rem;

}

h1 {
    font-family: "Trebuchet MS", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    font-size: 1.5rem;
    color: #fffbf3;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.map-container {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 3rem 0;
}

#map {
    width: 73rem;
    height: 100px;
    border-style: solid;
    border-width: medium;
    border-color: #669bbc;
    border-radius: 4px;

}

.game-container {
    background-color: #fffbf3;
    padding: 2rem;
    max-width: 60%;
    width: 100%;
    height: 50vh;
    text-align: center;
    font-family: 'Poppins', Arial, sans-serif;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(5, 10, 47, 0.2), 0 6px 20px 0 rgba(7, 17, 57, 0.19);
}

h2 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 2rem;
}

#questionText {
    margin-bottom: 1rem;
}

#guessForm {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

#guessInput {
    flex: 1;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

#capitalForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

#capitalAnswer {
    min-height: 40px;
    width: 30%;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding-left: 0.5rem;
}


button[type="submit"],
button[type="goToPartTwo"],
button[type="quit"] {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: #669bbc;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 20%;
}

button[type="submit"]:hover,
button[type="goToPartTwo"]:hover,
button[type="quit"]:hover {
    background-color: lightskyblue;
}

#resultMessage {
    font-size: 1rem;
    margin-top: 1rem;
    color: #669bbc;
}

footer {
    font-family: "Trebuchet MS", serif;
    background-color: #003049;
    color: #fdf0d5;
    text-align: center;
    padding: 0.5rem;
    font-size: large;
    margin-top: 1.5rem;
}