body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #222;
    background-color: white;
    margin: 0;
}

header {
    text-align: center;
    background-color: cadetblue;
    padding: 1rem;
    text-transform: uppercase;
}

header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5rem;
    margin: 0;
    letter-spacing: 2px;
    text-transform: uppercase;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: calc(100vh - 160px);
    padding: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.map-container {
    display: flex;
    justify-content: center;
    margin: 0.5rem 0 3rem 0;
}

#map {
    width: 73rem;
    height: 100px;
    border-style: solid;
    border-width: medium;
    border-color: cadetblue;
    border-radius: 4px;

}

.count-game-container {
    background-color: #d7e9ea;
    padding: 2rem 0 5rem 0;
    max-width: 63%;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', Arial, sans-serif;
    border-radius: 6px;
    box-shadow: 0 4px 8px 0 rgba(5, 10, 47, 0.2), 0 6px 20px 0 rgba(7, 17, 57, 0.19);
    margin: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
}

.math-quest {
    width: 40%;
    min-height: 50px;
    margin-bottom: 1.5rem;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #ccc;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    box-sizing: border-box;
    text-align: center;
}

#answer {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
    box-sizing: border-box;
}

button[type="submit"],
button[type="goToPartTwo"],
button[type="quit"] {
    padding: 0.8rem;
    font-size: 1rem;
    background-color: cadetblue;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: 60%;
}

button[type="submit"]:hover,
button[type="goToPartTwo"]:hover,
button[type="quit"]:hover {
    background-color: lightskyblue;
}

#capitalForm {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}

footer {
    background-color: #4e7677;
    text-align: center;
    padding: 0.5rem;
    font-size: large;
}