body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #222;
    background-color: white;
    margin: 0;
}

header {
    text-align: center;
    background-color: cadetblue;
    padding: 1rem;
    text-transform: uppercase;
}

header p {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

main {

}

.count-game-container {

}




footer {
    background-color: #4e7677;
    text-align: center;
    padding: 1rem;
}