body {
    background-color: beige;
}


#map {
    height: 500px;
    width: 700px;
}

#mapsection {}

.hidden {
    opacity: 0;
    display: none !important;
}

.visible {}

#map {}

#partone {}

#parttwo {}