body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #222;
    background-color: #fdf0d5;
    margin: 0;
}

h1 {
    font-family: "Trebuchet MS", serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    font-size: 1.5rem;
    color: #fffbf3;
}

h2, h3 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header {
    text-align: center;
    background-color: #003049;
    padding: 1rem;
    margin-bottom: 1.5rem;
}

header p {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.article {
    max-width: 80%;
    width: 80%;
    margin: auto;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(5, 10, 47, 0.2), 0 6px 20px 0 rgba(7, 17, 57, 0.19);
}

.firstSection {
    display: flex;
    justify-content: space-evenly;
    background-color: #669bbc;
    gap: 1.5rem;
    border-radius: 8px 8px 0 0;
}

.table {
    background-color: #fffbf3;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games {
    width: 50%;
    text-align: center;
}

.game-btn {
    padding: 0.8rem 2rem;
    margin: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #669bbc;
    color: #fffbf3;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
    width: 60%;
}

.game-btn:hover {
    background-color: #89c5f1;
}

.secondSection {

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: #669bbc;
    padding: 1.5rem;
    gap: 1.5rem;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.scores {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.personal {
    background-color: #669bbc;
    width: 100%;
}

.players {
    background-color: #669bbc;
    width: 100%;
}

.personal,
.players {
    color: black;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.thirdSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    padding: 1.5rem;
    background-color: #669bbc;
    border-radius: 0 0 8px 8px;
}

.thirdSection h2 {
    width: 100%;
    text-align: center;
    padding: 0.5rem 0;
    background-color: #fdf0d5;
    border-radius: 6px;
}

.rewards {
    width: 100%;
    height: 10rem;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.reward-btn {
    font-family: "Segoe UI", serif;
    margin: 0.5rem;
    padding: 1rem;
    font-size: 4.5rem;
    background-color: #669bbc;
    color: #fffbf3;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
}

.reward-btn:hover {
    background-color: #89adc8;
}

.thirdSection .rewards div {
    width: calc(100% / 5);
    background-color: #fffbf3;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0.1rem;
    text-align: center;
}

.first {
    display: none;
}

.second {
    display: none;
}

.third {
    display: none;
}

input {
    padding: 0.6rem 1rem;
    border-radius: 4px;
    border: 1px solid #fffbf3;
    font-size: 1rem;
    width: 80%;
    box-sizing: border-box;
}

.games-area {
    max-width: 900px;
    margin: 3rem auto;
    padding: 2rem;
    background: #669bbc;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.game-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.game-block {
    margin: 2rem auto;
    text-align: center;
}

.game-block input {
    width: 80%;
    max-width: 600px;
    padding: 0.8rem;
    font-size: 1.1rem;
    border-radius: 6px;
    border: 1px solid #fffbf3;
}

.table,
.games,
.map,
.scores,
.players,
.personal,
.rewards div {
    background-color: #fffbf3;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.firstSection,
.secondSection {
    padding: 0.3rem 2rem;
}

.scores {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.table,
.games {
    margin-top: 2rem;
}

table td, table th {
    padding: 0.3rem 5rem;
    overflow-wrap: break-word;
}

.map {
    margin-top: 0.5rem;
    padding-bottom: 2rem;
}

footer {
    font-family: "Trebuchet MS", serif;
    background-color: #003049;
    color: #fdf0d5;
    text-align: center;
    padding: 0.5rem;
    font-size: large;
    margin-top: 1.5rem;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(228, 222, 216);
}

.popup-content {
    background: #fffbf3;
    padding: 2rem;
    border-radius: 6px;
    border-style: solid;
    border-width: 8px;
    border-color: #669bbc;
    text-align: center;
}

.popup-overlay button {
    padding: 0.5rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #7aa9c2;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 40%;
    margin: 0.5rem;
    text-decoration: none;
}

.popup-overlay.show {
    display: flex;
    opacity: 1;
}

