body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #222;
    background-color: white;
    margin: 0;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 0;
    font-size: 1.5rem;
}

h2, h3 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header {
    text-align: center;
    background-color: cadetblue;
    padding: 1rem;
}

header p {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.article {
    max-width: 80%;
    width: 100%;
    margin: auto;
    padding: 1rem;
    box-sizing: border-box;
}

.firstSection {
    display: flex;
    justify-content: space-evenly;
    background-color: cadetblue;
    gap: 1.5rem;
}

.table {
    background-color: white;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.games {
    width: 50%;
    text-align: center;
}

.game-btn {
    padding: 0.8rem 2rem;
    margin: 0.5rem 0;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.2s ease;
    width: 60%;
}

.game-btn:hover {
    background-color: lightskyblue;
}

.secondSection {

    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: cadetblue;
    padding: 1.5rem;
    gap: 1.5rem;
}

.map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.scores {
    width: 50%;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.personal {
    background-color: cadetblue;
    width: 100%;
}

.players {
    background-color: cadetblue;
    width: 100%;
}

.personal,
.players {
    color: black;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.thirdSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}

.thirdSection h2 {
    width: 100%;
    text-align: center;
    background-color: #d8cab6;
    padding: 0.5rem 0;
}

.rewards {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.reward-btn {
    margin-top: 0.5rem;
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: skyblue;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s ease;
    width: 80%;
}

.reward-btn:hover {
    background-color: lightblue;
}

.thirdSection .rewards div {
    width: calc(100% / 5);
    background-color: cadetblue;
    box-sizing: border-box;
    padding: 0.5rem;
    margin: 0.1rem;
    text-align: center;
}

.first {
    display: none;
}

.second {
    display: none;
}

.third {
    display: none;
}

input {
    padding: 0.6rem 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 80%;
    box-sizing: border-box;
}

.games-area {
    max-width: 900px;
    margin: 3rem auto;
    padding: 2rem;
    background: cadetblue;
    border-radius: 6px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.game-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.game-block {
    margin: 2rem auto;
    text-align: center;
}

.game-block input {
    width: 80%;
    max-width: 600px;
    padding: 0.8rem;
    font-size: 1.1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.table,
.games,
.map,
.scores,
.players,
.personal,
.rewards div {
    background-color: #fff;
    padding: 1rem;
    margin: 1rem 0;
    border-radius: 6px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.firstSection,
.secondSection {
    padding: 0.3rem 2rem;
}

.scores {
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.table,
.games {
    margin-top: 2rem;
}

table td, table th {
    padding: 0.3rem 5rem;
    overflow-wrap: break-word;
}

.map {
    margin-top: 0.5rem;
    padding-bottom: 2.4rem;
}

footer {
    background-color: #4e7677;
    text-align: center;
    padding: 1rem;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 224, 228);
}

.popup-content {
    background: #fff;
    padding: 2rem;
    border-radius: 6px;
    border-style: solid;
    border-width: 8px;
    border-color: cadetblue;
    text-align: center;
}

.popup-overlay.show {
    display: flex;
    opacity: 1;
}

