<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Guess the Capital</title>
  <link rel="stylesheet" href="../static/css/capitals.css" />
</head>
<body>
<header>
  <h1>Flight Game</h1>
</header>

<main>
  <div class="game-container">
    <h2>Arvaa pääkaupunki</h2>
    <p id="questionText">Maan ... pääkaupunki on?</p>
    <form id="capitalForm">
      <input type="text" id="capitalAnswer" placeholder="Vastauksesi" autocomplete="off" />
      <button type="submit">Arvaa</button>
    </form>
    <div id="resultMessage"></div>
  </div>
    <section id="partone">
        <button id="capital-start">Start Part One</button>
        <div id="capital-question"></div>
        <div id="capital-options"></div>
        <div id="capital-answer">
            <form action="" id="capital-form">
                <input type="text" name="capital-input">
                <input type="submit">
            </form>
        </div>
        <div id="capital-score"></div>
        <div id="capital-result"></div>
        <button id="goToPartTwo">Go to part two</button>
    </section>
</main>

<footer>
  <p>GROUP 5</p>
</footer>
</body>
</html>

