<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Guess the Capital</title>
    <link rel="stylesheet" href="../static/css/capitals.css"/>
    <script src="../static/partone.js" defer></script>
</head>
<body>
<header>
    <h1>Flight Game</h1>
</header>

<main>
    <section class="wrapper" id="partone">
        <div class="map-container">
            <div id="map"></div>
        </div>
        <div class="game-container">
            <h2>Arvaa maan pääkaupunki</h2>
            <button id="capital-start">Start Part One</button>
            <div id="capital-question"></div>
            <div id="capital-options"></div>
            <div id="capital-answer">
                <form id="capital-form">
                    <input type="text" id="capital-input" placeholder="Vastauksesi" autocomplete="off"/>
                    <button type="submit">Arvaa</button>
                </form>
            </div>
            <div id="capital-result"></div>
            <div id="capital-score"></div>
        </div>
    </section>
</main>

<footer>
    <p>GROUP 5</p>
</footer>
</body>
</html>

