<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="static/css/style.css">
    <!--  <script src="../static/partone.js" defer></script>
    <script src="../static/parttwo.js" defer></script> -->
    <!-- <script src="../static/partthree.js" defer></script> -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="/static/login.js" defer></script>
    <script type="module" src="/static/popups.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-extra-markers/1.2.0/css/leaflet.extra-markers.min.css">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-extra-markers/1.2.0/js/leaflet.extra-markers.min.js"></script>
    <!-- <script defer src="../static/AnimatedMarker.js"></script>  -->
</head>

<body>
    <header>
        <h1>Flight Game</h1>
    </header>
    <div class="article">
        <section class="firstSection">
            <article class="table">
                <h2>Departures</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Destination</th>
                            <th>Remark</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>12:00</td>
                            <td>Tokyo</td>
                            <td>On time</td>
                        </tr>
                        <tr>
                            <td>13:00</td>
                            <td>London</td>
                            <td>On time</td>
                        </tr>
                    </tbody>
                </table>
            </article>
            <article class="games">
                <h2>Aloita peli</h2>
                <div id="main-intro">Aloita peli valitsemalla kartasta, minne haluat lentää.</div>
                <div id="practise-buttons" class="hidden">
                    <button id="startButton" class="game-btn">Pääkaupungit</button>
                    <button id="mathButton" class="game-btn">Matikka</button>
                    <button id="wordgameButton" class="game-btn">Sanapeli</button>
                </div>
            </article>
        </section>
        <section class="secondSection">
            <div id="map">
            </div>
            <article class="scores">
                <div class="personal">
                    <h3>Sinun pisteesi</h3>
                    <p>Tulokset...</p>
                </div>

                <h3>Pelaajat - Top 5</h3>
                <div class="players" id="highscorers">
                </div>
            </article>
        </section>
        <section class="thirdSection">
            <h2>Saavutukset</h2>
            <div class="rewards">
                <div>
                    <p>First Reward</p>
                    <button class="reward-btn">Claim</button>
                </div>
                <div>
                    <p>Second Reward</p>
                    <button class="reward-btn">Claim</button>
                </div>
                <div>
                    <p>Third Reward</p>
                    <button class="reward-btn">Claim</button>
                </div>
                <div>
                    <p>Fourth Reward</p>
                    <button class="reward-btn">Claim</button>
                </div>
                <div>
                    <p>Fifth Reward</p>
                    <button class="reward-btn">Claim</button>
                </div>
            </div>
        </section>
            <h3>Pelaajat - Top 5</h3>
            <div class="players" id="highscorers">
            </div>
        </article>
    </section>
    <section class="thirdSection">
        <h2>Saavutukset</h2>
        <div class="rewards">
            <div>
                <p>First Reward</p>
               <!--<button class="reward-btn">Claim</button> -->
                <img id="reward1" src="{{ url_for('static', filename='achievements/default.jpg') }}" height="150" width="150"/>
            </div>
            <div>
                <p>Second Reward</p>
                <img id="reward2" src="{{ url_for('static', filename='achievements/default.jpg') }}" height="150" width="150"/>
            </div>
            <div>
                <p>Third Reward</p>
                <img id="reward3" src="{{ url_for('static', filename='achievements/default.jpg') }}" height="150" width="150"/>
            </div>
            <div>
                <p>Fourth Reward</p>
                <img id="reward4" src="{{ url_for('static', filename='achievements/default.jpg') }}" height="150" width="150"/>
            </div>
            <div>
                <p>Fifth Reward</p>
                <img id="reward5" src="{{ url_for('static', filename='achievements/default.jpg') }}" height="150" width="150"/>
            </div>
        </div>
    </section>

    </div>

    <footer>
        <p>GROUP 5</p>
    </footer>

    <!-- game starrt/before capitals -->
    <div id="popup-login" class="popup-overlay show">
        <section id="loginFormSection">
            <h1>Welcome</h1>
            <p>Login</p>
            <form id="loginForm">
                <input type="text" id="loginUsername" placeholder="Enter your username">
                <input type="submit" value="Login">
            </form>
            <p>Register as a new player</p>
            <form id="registerForm">
                <input type="text" id="registerUsername" placeholder="Choose a username">
                <input type="submit" value="Register">
            </form>
        </section>
    </div>


    <div id="popup1" class="popup-overlay">
        <div class="popup-content">
            <div class="intro-container" id="intro-one">
                <p>Hei ja tervetuloa!</p>
                <p>Tämä on kevyt lentosimulaatiopeli, jossa pelaat kolmea minipeliä suorittaaksesi onnistuneen lennon.
                </p>
                <p>Tässä minipelissä arvaat maiden pääkaupunkeja.</p>
                <button onclick="openMinigame('one')">Aloita</button>
            </div>
            <section class="wrapper" id="part-one">
                <div class="game-container" id="game-one">
                    <h2>Arvaa maan pääkaupunki</h2>
                    <div id="capital-practise"></div>
                    <div id="capital-question"></div>
                    <div id="capital-options"></div>
                    <div id="capital-answer">
                        <form id="capital-form">
                            <input type="text" id="capital-input" placeholder="Vastauksesi" autocomplete="off" />
                            <button type="submit">Arvaa</button>
                        </form>
                    </div>
                    <div id="capital-score"></div>
                    <div id="capital-result"></div>
                </div>
            </section>
            <button class="reload_map" onclick="closePopup('popup1')">Lopeta peli</button>
            <button id="restart-one" class="hidden">Yritä uudelleen</button>
            <button id="goto-two" class="hidden">Seuraava peli</button>
        </div>
    </div>

    <!-- count game -->
    <div id="popup2" class="popup-overlay">
        <div class="popup-content">
            <div class="intro-container" id="intro-two">
                <p>Olet ilmassa matkalla määränpäähäsi. Hätätilanne! Polttoaine on vähissä! Voit saada lisää
                    polttoainetta ratkaisemalla tämän laskupelin.</p>
                <p>Tässä minipelissä ratkaiset yksinkertaisia päässälaskuja. Pelissä on aikaraja, pidä kiirettä!</p>
                <button onclick="openMinigame('two')">Aloita</button>
            </div>
            <section class="wrapper" id="part-two">
                <div class="game-container" id="game-two">
                    <div id="math-practise"></div>
                    <div id="math-question"></div>
                    <div id="math-options"></div>
                    <div id="math-answer">
                        <form action="" id="math-form">
                            <input type="text" id="math-input" placeholder="Vastauksesi" autocomplete="off" />
                            <input type="submit">
                        </form>
                    </div>
                    <div id="math-score"></div>
                    <div id="MathTimer"></div>
                    <div id="math-result"></div>
                </div>
            </section>
            <button class="reload_map" onclick="closePopup('popup2')">Lopeta peli</button>
            <button id="restart-two" class="hidden">Yritä uudelleen</button>
            <button id="goto-three" class="hidden">Seuraava peli</button>
        </div>
    </div>

    <!-- word game -->
    <div id="popup3" class="popup-overlay">
        <div class="popup-content">
            <div class="intro-container" id="intro-three">
                <p>Olet melkein perillä. Jäljellä on vielä onnistunut lasku. Laskeutuaksesi turvallisesti pelaa tämä
                    peli läpi.</p>
                <p>Muodosta suomenkielisiä sanoja arvotuista kirjaimista. Sadalla pisteellä voittaa pelin!</p>
                <p>Sanan tule olla vähintään kaksi kirjainta pitkä. Saat käyttää samaa kirjainta monta kertaa.
                    <br>Tarvittaessa
                    paina enter ja sinulle arvotaan uudet kirjaimet.
                </p>
                <button onclick="openMinigame('three')">Aloita</button>
            </div>
            <section class="wrapper" id="part-three">
                <div class="game-container" id="game-three">
                    <div id="word-practise"></div>
                    <div id="word-options"></div>
                    <div id="word-answer">
                        <form action="" id="word-form">
                            <input type="text" id="word-input" placeholder="Vastauksesi" autocomplete="off" />
                            <input type="submit">
                        </form>
                    </div>
                    <div id="word-score"></div>
                    <div id="word-result"></div>
                </div>
            </section>
            <button id="finish-game" class="hidden">Tallenna ja lopeta</button>
            <button class="reload_map" id="close-popup3" onclick="closePopup('popup3')">Lopeta peli</button>
        </div>
    </div>

    <!-- end: wind/lose -->
    <div id="popupEnd" class="popup-overlay">
        <div class="popup-content">
            <h2>Peli ohi</h2>
            <p id="endMessage"></p>
            <p id="finalScore"></p>
            <button onclick="closePopup('popupEnd')">Lopeta</button>
        </div>
    </div>


</body>

</html>