<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="login.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
            integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="../static/login.js" defer></script>
</head>

<body>
<header>
    <p>Flight Game</p>
</header>
<div class="container">
    <section>
        <h1>Tervetuloa</h1>
        <p>Kirjaudu sisään</p>
        <form id="loginForm">
            <input type="text" id="loginUsername" placeholder="Syötä käyttäjänimesi">
            <input type="submit" value="Kirjaudu">
        </form>
        <p id="loginMessage"></p>
        <p>Rekisteröidy</p>
        <form id="registerForm">
            <input type="text" id="registerUsername" placeholder="Keksi käyttäjänimi">
            <input type="submit" value="Rekisteröidy">
        </form>
        <p id="registerMessage"></p>
    </section>
    <div id="map"></div>
</div>
<footer>
    <p>Ryhmä 5</p>
</footer>

</body>

</html>