<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
        integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
    <script src="../static/login.js" defer></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-extra-markers/1.2.0/css/leaflet.extra-markers.min.css">
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-extra-markers/1.2.0/js/leaflet.extra-markers.min.js"></script>
</head>

<body>
    <header>
        <p>Flight Game</p>
    </header>
    <div class="container">
        <section>
            <h1>Welcome</h1>
            <p>Login</p>
            <form id="loginForm">
                <input type="text" id="loginUsername" placeholder="Enter your username">
                <input type="submit" value="Login">
            </form>
            <p id="loginMessage"></p>
            <p>Register as a new player</p>
            <form id="registerForm">
                <input type="text" id="registerUsername" placeholder="Choose a username">
                <input type="submit" value="Register">
            </form>
            <p id="registerMessage"></p>
        </section>
        <div id="map"></div>
    </div>
    <a href="{{ url_for('one') }}">Go to Part One</a>
    <footer>
        <p>Group 5</p>
    </footer>

</body>

</html>