body {
    font-family: 'Poppins', Arial, sans-serif;
    color: #222;
    background-color: white;
    margin: 0;
}

header {
    text-align: center;
    background-color: cadetblue;
    padding: 1rem;
}

header p {
    margin: 0;
    font-size: 1.5rem;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.container {
    max-width: 600px;
    margin: 3rem auto;
    padding: 2rem;
    border-radius: 12px;
    background-color: #dfeeef;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    text-transform: uppercase;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

input[type="text"] {
    padding: 0.6rem 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
}

input[type="submit"]:hover {
    background-color: lightskyblue;
}

input[type="submit"] {
    padding: 0.8rem 2rem;
    font-size: 1.1rem;

    background-color: cadetblue;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s ease;
    width: 100%;
}

#loginMessage, #registerMessage {
    margin-top: 1rem;
    font-size: 1rem;
    color: #222;
    text-align: center;
}

#map {
    margin-top: 2rem;
    width: 100%;
    height: 500px;
    border-radius: 8px;
    overflow: hidden;
}

footer {
    background-color: #4e7677;
    text-align: center;
    padding: 1rem;
}