<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Word game</title>
  <link rel="stylesheet" href="../static/css/word-game.css" />
</head>
<body>
<header>
  <h1>Flight Game</h1>
</header>

<main>
    <div class="word-game-container">
            <h2 class="title">Muodota sana- peli</h2>

            <div id="letterDisplay" class="letters-display">
                <!-- sanat tulee täöhä -->
            </div>

            <div id="wordList" class="word-list">

            </div>

            <input type="text" id="wordInput" placeholder="Keksi sana" autocomplete="off" />

            <button id="submitWord">Submit</button>

            <button id="newLetters">New Letters</button>
        </div>
</main>

<footer>
  <p>GROUP 5</p>
</footer>
</body>
</html>